
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        /* linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), */
         url('c.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: white;
}

/* Card */
.container {
    background: rgba(0,0,0,0.7);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    width: 350px;
    text-align: center;
}

/* Title */
h1 {
    color: #00ffcc;
    margin-bottom: 30px;
    font-size: 24px;
}

/* Input */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

input.invalid {
    border: 2px solid red;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #00ffcc;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background: #00ccaa;
}

.reset-btn {
    background: #ff4d4d;
    display: none;
}

.reset-btn:hover {
    background: #cc0000;
}

/* Result Box */
.result {
    margin-top: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: none;
    text-align: left;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.green { color: #00ff99; }
.red { color: #ff4d4d; }

p { margin: 5px 0; }
