
    
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('gettyimages-1283888226-640x640.jpg') no-repeat center center fixed;
        background-size: cover;
        color: white;
    }


    .container {
        background: rgba(0,0,0,0.6);
        padding: 40px 30px;
        border-radius: 15px;
        box-shadow: 0 0 30px rgba(0,0,0,0.7);
        width: 350px;
        text-align: center;
    }

    h1 {
        color: #00ffcc;
        margin-bottom: 30px;
        font-size: 24px;
    }


    input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
    }

    input.invalid {
        border: 2px solid red;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        background: #00ffcc;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background: #00ccaa;
    }


    .result {
        margin-top: 20px;
        padding: 15px;
        background: rgba(255,255,255,0.1);
        border-radius: 10px;
        display: none;
        text-align: left;
    }

    .green {
        color: #00ff99;
    }

    .red {
        color: #ff4d4d;
    }

    p {
        margin: 5px 0;
    }
